#myName{
  font-size: 36px;
  font-family: 'Poiret One', monospace;
  font-weight: bolder;

}

.navbar{
  border-style: groove;
  border-width: 0px 0px 2px 0px;
  border-color: #ccc;
}

.nav-link{
  font-size: 1.5em;
  font-weight: lighter;
  margin: 0px 25px;
  padding-bottom: 0px;
  text-align: center;
}

@media (max-width: 992px){

  #myName{
    width: 100%;
    text-align: center;
    margin: 0px;
  }
  .col-4{
    padding: 0px;
  }

  .home{
    margin-left: 0px;
    text-align: left;
  }

  .gallery{
    margin-left: 15px;
  }

}
