.main{
  padding: 0% 10%;
}

.sectionTitles{
  margin-top: 5%;
}

hr{
  border-color: #007bff;
}


@media (max-width:600px){
  .main{
    padding: 0% 10%;
  }

  .sectionTitles{
    font-size: 1.5em;
  }
}
