#main{
  padding: 0% 10%;
}

hr{
  border-color: #007bff;
  border-width: 1px;
}

.row{
  margin-top: 2%;
}


.spinner-border{
  padding: 5%;
  margin-top: 10%;
  border-width: 10px;
}

.picWrap{
  background-color: rgb(230, 240, 250);
  padding: 2%;
  margin: 1%;
}

.zoom{
  transition: transform .1s;
  box-shadow: 0px 0px 10px #888;
}

.zoom:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 20px #666;
}
